@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    transition: all 250ms;
}

:root{
    --bg-color: #202030;
    --inp-color: var(--bg-color);
    --blue: #C1D4E2;
    --true: #23CE6B;
    --text-color: white;
}

html,body{
    height:100%;
    overflow: hidden; /*fix vertical scrollbar issue*/
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image,.form{
    height:100%;
}

.image{
    width: 33%;
    position: relative;
}

.form{
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: var(--bg-color);
}

.bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
    width: 100%;
}

.input{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input.email{
    width:75%;
}

label{
    display: inline-block;
    font-size: 1rem;
    color: var(--inp-color);
    opacity: 0.8;
    margin-left: auto;
    position: absolute;
    cursor: text;
}

input{
    height: 25px;
    border: none;
    transition: all 250ms;
    border-bottom: solid 2px rgb(32,32,48,0.5);
    background-color: inherit;
    color: var(--inp-color);
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
}

input~.border {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #202030;
	transition: 0.4s;
}

input:focus~.border {
	width: 100%;
	transition: 0.8s;
	left: 0;
}

input:focus,
input:not(:placeholder-shown){
    outline: none;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label{
    transform: translateY(-25px);
    cursor: default;
    font-size: 1.2rem;
    opacity: 0.5;
}

.card{
    /* width: 50%; */
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUp{
    color: var(--blue);
    color: #F1D302;
    font-family: 'Monoton', cursive;
    font-size: 100px;
}

button{
    all: unset;
    background-color: var(--bg-color);
    color: var(--blue);
    color: #F1D302;
    height: 50px;
    border-radius: 30px;
    width: 40%;
    text-align: center;
    margin: 60px 0 3px 0;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 3px;
}

.login{
    font-size: 1rem;
}

a{
    all: unset;
    color: var(--inp-color);
    text-decoration: underline;
}

button{
    transition: 250ms;
}

button:hover{
    /* background-color: #F1D302;
    color: var(--bg-color); */
    transition: 250ms;
    transform: translateY(-5px);
    /* box-shadow:inset 0px 0px 0px 4px #202030; */
}

button:active{
    transform: translate(0px);
}

input~.error {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #D11026;
	transition: 0.4s;
}

input:invalid:not(:focus)~.error {
	width: 100%;
	transition: 0.8s;
	left: 0;
}

.company{
    position: absolute;
    color: var(--bg-color);
    font-size: 4rem;
    width: 100%;
    top:5%;
    text-align: center; 
}

input~.unmatch {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #D11026;
	transition: 0.4s;
}

#true{
    width: 100%; 
	transition: 0.8s;
	left: 0;
}


